<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1 class="text-center">Welcome to Giftapp</h1>
        <hr>
        <p class="text-center">
          <a class="btn btn-default btn-lg" href="/login/" role="button">Log in</a>
          <a class="btn btn-default btn-lg" href="/login/signup" role="button">Sign Up</a>
          <a class="btn btn-primary btn-lg" href="/login/facebook" role="button">Log in or sign up with Facebook</a>
          <a class="btn btn-primary btn-lg" href="/login/twitter" role="button">Log in or sign up with Twitter</a>
        </p>
      </div>
    </div>
  </body>
</html>
